include ./mixins.pug

h3 Busquedas Guardadas
+savedSearch

h3 Categorias
+categories

h3 Idioma
+lang 

h3 Publicacion
ul
    li
        a(href="#") Todos
    li
        a(href="#") Hoy
    li
        a(href="#") Hace una semana
    li
        a(href="#") Hace un mes
    li
        a(href="#") Hace un año

h3 Presentacion
+edition