script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/awesomplete-gh-pages/awesomplete.min.js")
script(src="/vendor/underscore/underscore-min.js")

//- app scripts self
script(src="/scripts/global.js")
script(src="/scripts/search-form.js")
script(src="/scripts/app.js")