.search-form
    margin-top 30px


/*
    Style for list box
*/


.visually-hidden
    display none

/*
    Style for awesomplete
*/

.submit
    position absolute
    margin-left 0.5rem 

.disabled
    pointer-events none
    color grey
    opacity .5

#awesomplete_list_1
    width 15em
    position absolute
    list-style none
    border-radius 6px
    background-color #FFF7E5
    color #333
    padding 0
    margin 0
    text-align center
    cursor pointer

.awesomplete
    display inline-block


/*
    for responsive
*/


.search-form
    +below(650px)
        display none