* {
  font-family: "Proxima Nova";
}
.saveSearchLink {
  margin-top: 2em;
}
ul {
  list-style: none;
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form {
  margin-top: 30px;
}
.visually-hidden {
  display: none;
}
.submit {
  position: absolute;
  margin-left: 0.5rem;
}
.disabled {
  pointer-events: none;
  color: #808080;
  opacity: 0.5;
}
#awesomplete_list_1 {
  width: 15em;
  position: absolute;
  list-style: none;
  border-radius: 6px;
  background-color: #fff7e5;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.awesomplete {
  display: inline-block;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
