doctype html
html(lang="es")
    head
        title Finder challenge
        include includes/head.pug
    body
        .app.pure-g
            header.pure-u-1
                include includes/header.pug
            aside.filters.pure-u-1-4
                include includes/aside.pug
            content.pure-u-3-4
            footer.pure-u-1

        include includes/scripts.pug